<div class="container">
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            @if (TempData["type"] != null)
            { 
                <div class="alert alert-@TempData["type"]">
                    <button type="button" class="close" data-dismiss="alert" ng-click="$notifications.$remove($index)"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <p class="lead">
                        @if (TempData["type"] == "danger")
                        { <i class="fa fa-warning" ng-show="alert.type == 'danger'"></i> }
                        @if (TempData["type"] == "success")
                        { <i class="fa fa-check-circle" ng-show="alert.type == 'success'"></i> }
                        <b>@TempData["title"]</b>
                    </p>
                    <p>@TempData["message"]</p>
                    @*<ul>
                            <li>@TempData["ClientSuccess"]</li>
                        </ul>*@
                </div>
            }
        </div>
    </div>
</div>
